<!--
<div class="row ContentHeadlineBox">
    <div class="columns small-12 small-centered ContentHeadline">
        <h3>Upcomming Shows</h3>
    </div>
</div>

<div class="Line row"></div>
<div class="row ContentBoxGig">
    {> UpCGigElement_01}
</div>-->

<div class="row ContentHeadlineBox">
    <div class="columns small-12 small-centered ContentHeadline">
        <h3>Past Shows</h3>
    </div>
</div>

<div class="Line row"></div>
<div class="row ContentBoxGig">
    {{> PastGigElement_07}}
</div>
<div class="Line row"></div>
<div class="row ContentBoxGig">
    {{> PastGigElement_06}}
</div>
<div class="Line row"></div>
<div class="row ContentBoxGig">
    {{> PastGigElement_05}}
</div>
<div class="Line row"></div>
<div class="row ContentBoxGig">
    {{> PastGigElement_04}}
</div>
<div class="Line row"></div>
<div class="row ContentBoxGig">
    {{> PastGigElement_03}} 
</div>
<div class="Line row"></div>
<div class="row ContentBoxGig">
    {{> PastGigElement_02}} 
</div>
<div class="Line row"></div>
<div class="row ContentBoxGig">
    {{> PastGigElement_01}}
</div>