<!--    T E A S E R    &    N A V I G A T I O N    -->

<!--  TEASER LARGE  -->
<div class="row expanded show-for-large">
    <div id="TeaserL" class="large-12 TeaserLarge">
        <img src="assets/img/Teaser_Large.png">
    </div>
</div>

<!--  NAVIGATION LARGE -->
<div data-sticky-container class="show-for-large">
    <div data-sticky data-margin-top='0' data-top-anchor="TeaserL:bottom" style="width: 100%;">
        <div class="row expanded NavL">
            <div class="menu-centered">
                <ul class="menu MenuLarge">
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="band.html">BAND</a></li>
                    <li><a href="music.html">MUSIC</a></li>
                    <li><a href="media.html">MEDIA</a></li>
                    <li><a href="news.html">NEWS</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--  BURGER  -->

<div id="Top" class="Burger" data-responsive-toggle="NavMobile" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="NavMobile"></button>
</div>


<!--  NAVIGATION SMALL -->
<div class="row show-for-small-only" id="NavMobile">
    <div class="NavS medium-10 medium-centered">
        <ul class="menu vertical">
            <li><a href="index.html">HOME</a></li>
            <li><a href="band.html">BAND</a></li>
            <li><a href="music.html">MUSIC</a></li>
            <li><a href="media.html">MEDIA</a></li>
            <li><a href="news.html">NEWS</a></li>
        </ul>
    </div>
</div>


<!--  GEAR MEDIUM  -->
<div class="row show-for-medium-only">
    <div class="GearBoxMedium medium-4 medium-offset-4 columns">
        <a href="index.html"><img src="assets/img/CC_Gear.svg"></a>
    </div>
</div>
<!--  GEAR SMALL  -->
<div class="row show-for-small-only">
    <div class="GearBoxSmall small-6 small-offset-3 columns">
        <a href="index.html"><img src="assets/img/CC_Gear.svg"></a>
    </div>
</div>
<!--  TEASER MEDIUM & SMALL  -->
<div id="TeaserS" class="hide-for-large">
    <img src="assets/img/Teaser_Small.png">
</div>


<!--  MENUE MEDIUM -->
<div data-sticky-container class="show-for-medium-only">
    <div data-sticky data-margin-top='0' data-top-anchor="TeaserS:bottom" style="width: 100%;">
        <div class="row NavM">
            <div class="menu-centered medium-10 medium-centered">
                <ul class="menu">
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="band.html">BAND</a></li>
                    <li><a href="music.html">MUSIC</a></li>
                    <li><a href="media.html">MEDIA</a></li>
                    <li><a href="news.html">NEWS</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>