.BandFirstName {
    line-height: 1;
    color: white;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    @media screen and (max-width: 39.9375em) {
        font-size: 2rem;
        text-transform: uppercase;
    }
}

.BandLastName {
    line-height: 2rem;
    font-size: 3rem;
    color: $dark-gray;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    @media screen and (max-width: 39.9375em) {
        line-height: 0;
        font-size: 1rem;
    }
}

.BandText {
    text-align: center;
    color: $medium-gray;
    @media screen and (max-width: 39.9375em) {
        line-height: 1.25rem;
    }
}


.BandPortraitBox {
    position: relative;
}

.BandMemberDiscriptionPatrick{
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        top: 25%;
        left: 47%;
    }
    @media screen and (max-width: 39.9375em) {
        top: 5%;
        left: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    position: absolute;
    z-index: 1000;
    left: 55%;
    top: 35%;
}

.BandMemberDiscriptionLukas{
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        top: 30%;
        left: 47%;
    }
    position: absolute;
    z-index: 1000;
    left: 55%;
    top: 35%;

}

.BandMemberDiscriptionPhilip{
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        top: 25%;
        left: 15%;
    }
    position: absolute;
    z-index: 1000;
    left: 20%;
    top: 35%;
}

.BandMemberDiscriptionFinn{
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        top: 25%;
        left: 20%;
    }
    position: absolute;
    z-index: 1000;
    left: 30%;
    top: 35%;
}