.Text {
    text-align: center;
    font-weight: bold;
}

.ContentBox {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: $light-transparent;
}

.ContentBoxGallery {
    padding-bottom: 2%;
    background-color: $light-transparent;
}

.ContentBoxGig {
    padding-top: 1%;
    background-color: $light-transparent;
}

.ContentHeadlineBox {
    background-color: $dark-transparent;
    margin-top: 5%;
}

.ContentHeadline {
    margin-top: 2%;
    margin-bottom: 2%;
}

.ContentChoiceHeadlineBox{
    background-color: $dark-transparent;
    height: 100%;
}

.ContentChoiceHeadline {
    padding-top: 1.5%;
    margin-top: 5%;
}

.ContentChoicePic{
    border-top: solid 2px white;
}

.ContentChoicePic:hover{
    filter: brightness(1.15);
}

.InstagramElement {
    margin-top: 15px;
    overflow: hidden;
}

.SpacerSoundcloud {
    height: 2%;
}

.Video {
    //border-width: 1px;
    //border-color: $medium-gray;
    //border-style: solid;
    margin-top: 15px;
    background-color: #000;
}

.VideoFacebook {
    margin-top: 9%;
}

.Line {
    border: 1px;
    border-style: solid;
    border-color: white;
}

.copyright{
    margin-top: 2%;
    text-align: center;
}

.GalNav{
    color: white;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.HistoryText{
    column-width: 20rem;
    column-gap: 4rem;
    margin-bottom: 5%;
}

.ContentTextHeadline{
    margin-top: 2%;
    margin-bottom: 3.8%;
}