.datenschutz{
    margin-top: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba($color: #FFFFFF, $alpha: .7);
}

.datenschutz h4{
    color: black;
}

.text-datenschutz{
    font-size: 1rem;
    font-family: calibri, helvetica, arial, sans-serif;
    color: black;
    letter-spacing: 0;
    margin-left: 25px;
    margin-right: 25px;
}

.datenschutz ul li{
    font-size: 1rem;
    font-family: calibri, helvetica, arial, sans-serif;
    color: black;
    letter-spacing: 5;
    margin-left: 25px;
    margin-right: 25px;
}