#TopSpacer {
    height: 5em;
}

.TeaserLarge img {
    width: 100%;
}

.Headline {
    margin-top: 5%;
}

.GearBoxMedium {
    margin-top: 35%;
    position: absolute;
    z-index: 1001;
}

.GearBoxSmall {
    margin-top: 28%;
    position: absolute;
    z-index: 1000;
}

.LineTop {
    margin-bottom: 5%;
    margin-top: 3%;
}

.LineBottom {
    margin-top: 5%;
    margin-bottom: 3%;
}

.BTTB a {
    color: $dark-gray;
    font-family: 'Pathway Gothic One', sans-serif;
}

.BTTB {
    text-align: center;
    text-transform: uppercase;
    font-size: 200;
    background-color: #444444;
    margin-top: 10%;
}

.BTTB:hover {
    background-color: $medium-gray;
}



.FooterText {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    @media screen and (max-width: 25em) {
        margin-top: -30%;
    } 
    @media screen and (max-width: 39.9375em) {
        margin-top: -20%;
    }
    @media screen and (min-width: 40em) {
        margin-top: -12%;
    } 
    @media screen and (min-width: 55em) {
        margin-top: -10%;
    } 
    @media screen and (min-width: 64em) {
        margin-top: -8%;
    }
}

.Imprint {
    margin-top: 50px;
}

.Btn{
    color: #ffffff;
    background-color: #303030;
    padding: 10px;
    font-size: 1.25rem;
    text-transform: uppercase;
    border: 2px solid #1b1b1b;
    border-radius: 5%;
}

.Btn:hover {
    color: #ffffff;
    background-color: #3b3b3b;
}