.GigDateP{
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

.GigDateH{
    color: white;
    line-height: 0.5;
    margin-bottom: 0.25em;
    font-size: 6em;
    text-align: center;
    font-weight: bold;
}

.GigLocationCity{
    @media screen and (max-width: 39.9375em) {
        text-align: center;
    }
    line-height: 1.2;
    font-size: 2rem;
    color: $dark-gray;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.GigLocationVenue{
    @media screen and (max-width: 39.9375em) {
        text-align: center;
    }
    line-height: 1.2;
    color: $medium-gray;
    font-size: 1.5rem;
    text-align: left;
    text-transform: uppercase;
}

.GigLocationVenue a{
    color: white;
    letter-spacing: 0.2;
}

.GigLocationVenue a:hover{
    color: $dark-gray;
    letter-spacing: 0.2;
}

.GigP{
    @media screen and (max-width: 39.9375em) {
        text-align: center;
    }
    text-align: left;
    color: $medium-gray;
}

.GigIcon{
    @media screen and (max-width: 39.9375em) {
        margin: 0 auto 5% auto;
        width: 25%;
    }
    @media screen and (min-width: 40em) {
        margin: 30% auto 0 auto;
        width: 50%;
    } 
    @media screen and (min-width: 50em) {
        margin: 25% auto 0 auto;
        width: 50%;
    } 
    @media screen and (min-width: 55em) {
        margin: 15% auto 0 auto;
        width: 50%;
    } 
    @media screen and (min-width: 64em) {
        margin: 15% auto 0 auto;
        width: 55%;
    }
    vertical-align: text-top;
}