body {
    background-image: url('../img/BG_Tile.jpg');
    background-attachment: fixed;
}

h1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    color: $light-gray;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: $light-gray;
    text-transform: uppercase;
}

h3 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: $light-gray;
    text-transform: uppercase;
}

h4 {
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: .15rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

h5 {
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: .15rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.1rem;
    color: $white-gray;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: $medium-gray;
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 1.5px;
}

a:hover {
    color: $dark-gray;
}

img{
    display: block;
}