.GigDateP{
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

.GigDateH{
    color: white;
    line-height: 0.5;
    margin-bottom: 0.25em;
    font-size: 6em;
    text-align: center;
}

.GigLocationCity{
    color: white;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.GigLocationVenue{
    line-height: 0.1;
    color: $medium-gray;
    font-size: 1.5rem;
    text-align: left;
    text-transform: uppercase;
}

.GigLocationVenueP a{
    color: white;
    letter-spacing: 0.2rem;
}