
<div class="small-12 columns">
    <div class="small-12 medium-2 columns">
        <!-- DATE -->
        <p class="GigDateP">FEB</p>
        <p class="GigDateH">02</p>
        <p class="GigDateP">2018</p>
    </div>
    <div class="small-12 medium-7 columns">
        <!-- CITY -->
        <p class="GigLocationCity">Krefeld</p>
        <!-- VENUE -->
        <p class="GigLocationVenue"><a href="https://www.facebook.com/jugendzentrum.funzel" target="_blank">Jugendzentrum Funzel</a></p>
        <!-- TEXT -->
        <p class="GigP">with <a href="https://www.facebook.com/offmydiary/" target="_blank">off my diary</a>. Three more bands are going to be announced</p>
    </div>
    
    <div class="small-12 medium-3 columns">
        <div class="row">
            <div class="small-12 large-8 large-offset-2 columns">
                <a href="#" target="_blank">
                    <img src="assets/img/fb-event.svg" class="GigIcon" alt="facebook event icon">
                </a>  
            </div>
        </div>
    </div>
</div>
