<div class="small-12 columns">
    <div class="small-12 medium-2 columns">
        <!--  DATE  -->
        <p class="GigDateP">DEC</p>
        <p class="GigDateH">02</p>
        <p class="GigDateP">2017</p>
    </div>
    <div class="small-12 medium-7 columns">
        <!--  CITY  -->
        <p class="GigLocationCity">Duisburg</p>
        <!--  VENUE  -->
        <p class="GigLocationVenue">Haus der Jugend Duisburg Rheinhausen | Treatment for all 14</p>
        <!--  TEXT  -->
        <p class="GigP"> <a href="https://www.facebook.com/offmydiary/" target="_blank">off my diary</a>. Two more bands are going to be announced</p>
    </div>
    <div class="small-12 medium-3 columns hide">
        <div class="row">
            <div class="small-12 large-8 large-offset-2 columns">
                <a href="#" target="_blank">
                    <img src="assets/img/fb-event.svg" class="GigIcon" alt="facebook event icon" title="visit the facebook event">
                </a>
            </div>
        </div>
    </div>
</div>