<div class="small-12 columns">
    <div class="small-12 medium-2 columns">
        <p class="GigDateP">FEB</p>
        <p class="GigDateH">10</p>
        <p class="GigDateP">2017</p>
    </div>
    <div class="small-12 medium-7 columns">
        <p class="GigLocationCity">Krefeld</p>
        <p class="GigLocationVenue"><a href="https://www.kulturrampe.de/" target="_blank">Kulturrampe</a><br />Lokale Rampen Lichter</p>
        <p class="GigP">with <a href="https://www.facebook.com/motherofexileband/" target="_blank">DIVERSITY ZERO</a>.</p>
    </div>
    
    <div class="small-12 medium-3 columns">
        <div class="row">
            <div class="small-12 small-offset-0 large-8 large-offset-2 columns">
                <a href="{{root}}Galleries/gal-Kulturrampe-2017.html">
                    <img src="{{root}}assets/img/gallery.svg" class="GigIcon" alt="Foto gallery icon" title="Have a look at the image gellery">
                </a>
            </div>
        </div>
    </div>
</div>