<div class="small-12 columns">
    <div class="small-12 medium-2 columns">
        <p class="GigDateP">SEPT</p>
        <p class="GigDateH">20</p>
        <p class="GigDateP">2014</p>
    </div>
    <div class="small-12 medium-7 columns">
        <p class="GigLocationCity">Tönisvorst</p>
        <p class="GigLocationVenue"><a href="http://www.tvrocknacht.de/" target="_blank">Rocknacht</a></p>
        <p class="GigP">with <a href="http://fogjoggers.com/" target="_blank">THE FOG JOGGERS</a>, <a href="https://www.facebook.com/linus.music12">LINUS</a>, <a href="http://www.rafiki-rocks.de">Rafiki</a> and others</p>
    </div>
    <div class="small-12 medium-3 columns hide">
        <div class="row">
            <div class="small-12 large-8 large-offset-2 columns">
                <a href="#" target="_blank">
                    <img src="{{root}}/assets/img/gallery.svg" class="GigIcon" alt="Foto gallery icon" title="Have a look at the image gellery">
                </a>
            </div>
        </div>
    </div>
</div>