<div class="small-12 columns">
    <!--  DATE  -->
    <div class="small-12 medium-2 columns">
            <p class="GigDateP">NOV</p>
            <p class="GigDateH">24</p>
            <p class="GigDateP">2018</p>
    </div>

    <!--  CONTENT  -->
    <div class="small-12 medium-5 columns">
        <!--  CITY  -->
        <p class="GigLocationCity">NEUSS</p>
        <!--  VENUE  -->
        <p class="GigLocationVenue"><a href="https://www.altepost.de/" target="_blank">Kulturforum Alte Post</a><br>Glistening Leotard Album release show</p>
        <!--  TEXT  -->
        <p class="GigP">with <a href="https://shop.glisteningleotard.de/" target="_blank">GLISTENING LEOTARD.</a></p>
    </div>

    <!--  PRICE  -->
    <div class="small-12 medium-2 columns">
        <!--  DATE  -->
        <p class="GigTickets">Tickets</p>
        <p class="GigPrice">€ 10<br /><br /></p>
        <p class="GigTickets">Doors</p>
        <p class="GigTime">19:30</p>
    </div>

    <div class="small-12 medium-3 columns">
        <div class="row">
            <div class="small-12 large-8 large-offset-2 columns">

            </div>
        </div>
    </div>

    <!--<div class="small-12 medium-3 columns">
        <div class="row">
            <div class="small-12 large-8 large-offset-2 columns">
                <a href="https://www.facebook.com/events/1989083894750565/" target="_blank">
                    <img src="{{root}}assets/img/fb-event.svg" class="GigIcon" alt="facebook event icon" title="visit the facebook event">
                </a>
            </div>
        </div>
    </div>-->
</div>