<div class="small-12 columns">
    <div class="small-12 medium-2 columns">
        <!--  DATE  -->
        <p class="GigDateP">FEB</p>
        <p class="GigDateH">12</p>
        <p class="GigDateP">2018</p>
    </div>
    <div class="small-12 medium-7 columns">
        <!--  CITY  -->
        <p class="GigLocationCity">Krefeld</p>
        <!--  VENUE  -->
        <p class="GigLocationVenue"><a href="https://www.facebook.com/jugendzentrum.funzel" target="_blank">Jugendzentrum Funzel</a><br />Alternative rock night</p>
        <!--  TEXT  -->
        <p class="GigP">with <a href="https://www.facebook.com/offmydiary/" target="_blank">OFF MY DIARY</a>, <a href="https://www.facebook.com/Band.Lite">LITE</a> and
        <a href="https://www.facebook.com/The2Try/">THE SECOND TRY</a>.</p>
    </div>
    <div class="small-12 medium-3 columns hide">
        <div class="row">
            <div class="small-12 large-8 large-offset-2 columns">
                <a href="#" target="_blank">
                    <img src="{{root}}/assets/img/fb-event.svg" class="GigIcon" alt="facebook event icon" title="visit the facebook event">
                </a>
            </div>
        </div>
    </div>
</div>