<div class="small-12 columns">
    <!--  DATE  -->
    <div class="small-12 medium-2 columns">
            <p class="GigDateP">JAN</p>
            <p class="GigDateH">12</p>
            <p class="GigDateP">2018</p>
    </div>

    <!--  CONTENT  -->
    <div class="small-12 medium-5 columns">
        <!--  CITY  -->
        <p class="GigLocationCity">Krefeld</p>
        <!--  VENUE  -->
        <p class="GigLocationVenue"><a href="https://www.facebook.com/jugendzentrum.funzel" target="_blank">Jugendzentrum Funzel</a><br />Alternative rock night</p>
        <!--  TEXT  -->
        <p class="GigP">with <a href="https://www.facebook.com/offmydiary/" target="_blank">OFF MY DIARY</a>, <a href="https://www.facebook.com/Band.Lite">LITE</a> and
        <a href="https://www.facebook.com/The2Try/">THE SECOND TRY</a>.</p>
    </div>

    <!--  PRICE  -->
    <div class="small-12 medium-2 columns">
        <!--  DATE  -->
        <p class="GigTickets">Tickets</p>
        <p class="GigPrice">€ 5,-<br /><br /></p>
        <p class="GigTickets">Doors</p>
        <p class="GigPrice">18:30</p>
    </div>

    <!--  FACEBOOK-EVENT  
    <div class="small-12 medium-3 columns">
        <div class="row">
            <div class="small-12 large-8 large-offset-2 columns">
                <a href="https://www.facebook.com/events/1943430229244415/" target="_blank">
                    <img src="{{root}}/assets/img/fb-event.svg" class="GigIcon" alt="facebook event icon" title="visit the facebook event">
                </a>
            </div>
        </div>
    </div>-->
</div>