<div class="small-12 columns">
    <div class="small-12 medium-2 columns">
        <!--  DATE  -->
        <p class="GigDateP">DEC</p>
        <p class="GigDateH">02</p>
        <p class="GigDateP">2017</p>
    </div>

    <!--  CONTENT  -->
    <div class="small-12 medium-5 columns">
        <!--  CITY  -->
        <p class="GigLocationCity">Duisburg</p>
        <!--  VENUE  -->
        <p class="GigLocationVenue">Haus der Jugend Duisburg <br>Treatment for all 14</p>
        <!--  TEXT  -->
        <p class="GigP">Charity rock concert to the benefit of
        <a href="http://www.aidshilfe-duisburg-kreis-wesel.de/" target="_blank">AIDS-Hilfe Duisburg
        </a> and
        <a href="http://solidaritaet-international.de/index.php?id=669&no_cache=1" target="_blank">Solidarität International</a>. </br>We're playing with
        <a href="https://www.facebook.com/silent.fox.band/" target="_blank">SILENT FOX</a>, 
        <a href="http://freshgame.de/news/" target="_blank">FRESH GAME</a> and <a href="https://www.facebook.com/band.absolut/" target="_blank">ABSOLUT</a>.</p>
    </div>

    <!--  PRICE  -->
    <div class="small-12 medium-2 columns">
        <!--  DATE  -->
        <p class="GigTickets">Tickets</p>
        <p class="GigPrice">€ 5,-<br><br></p>
        <p class="GigTickets">Doors open</p>
        <p class="GigPrice">18h</p>
    </div>

    <!--  FACEBOOK-EVENT  -->
    <div class="small-12 medium-3 columns">
        <div class="row">
            <div class="small-12 large-8 large-offset-2 columns">
                <a href="https://www.facebook.com/events/1943430229244415/" target="_blank">
                    <img src="assets/img/fb-event.svg" class="GigIcon" alt="facebook event icon" title="visit the facebook event">
                </a>
            </div>
        </div>
    </div>

</div>