<div class="small-12 columns">
    <div class="small-12 medium-2 columns">
        <p class="GigDateP">JUN</p>
        <p class="GigDateH">13</p>
        <p class="GigDateP">2015</p>
    </div>
    <div class="small-12 medium-7 columns">
        <p class="GigLocationCity">Weiler</p>
        <p class="GigLocationVenue"><a href="https://www.krawallimstall.de/" target="_blank">Krawall im Stall</a></p>
        <p class="GigP">with <a href="https://www.facebook.com/motherofexileband/" target="_blank">MOTHER OF EXILE</a> and <a href="https://www.facebook.com/Sweetbirdofyouth.music/">SWEET BIRD OF YOUTH</a>.</p>
    </div>
    <div class="small-12 medium-3 columns hide">
        <div class="row">
            <div class="small-12 small-offset-0 large-8 large-offset-2 columns">
                <a href="#" target="_blank">
                    <img src="assets/img/gallery.svg" class="GigIcon" alt="Foto gallery icon" title="Have a look at the image gellery">
                </a>
            </div>
        </div>
    </div>
</div>