<div class="row ContentHeadlineBox">
    <div class="small-8 small-centered columns ContentHeadline">
        <h3>Cloud Colony are</h3>
    </div>
</div>
<div class="row Line"></div>
<div class="row ContentBox">
    {{> Patrick}}
</div>

<div class="row ContentBox">
    {{> Philip}}
</div>

<div class="row ContentBox">
    {{> Lukas}}
</div>

<div class="row ContentBox">
    {{> Finn}}
</div>

<!--
<div class="row ContentHeadlineBox">
    <div class="small-8 small-centered columns ContentHeadline">
        <h3>Band History</h3>

    </div>
</div>
<div class="row Line"></div>
<div class="row ContentBox">

</div>-->
