<div class="row">
        <div class="small-12 columns">
            <!--  NAME ON SMALL  -->
            <div class="small-12 show-for-small-only columns">
                <p class="BandFirstName">Finn</p>
                <p class="BandLastName">Engels</p>
                <p class="BandText">Bass | Bass</p>
            </div>
            <!--  IMAGE  -->
            <div class="large-12 hide-for-small-only columns BandPortraitBox">
                    <div class=" BandMemberDiscriptionFinn">
                            <p class="BandFirstName">Finn</p>
                            <p class="BandLastName">Engels</p>
                            <p class="BandText">Bass | Voices</p>
                    </div>
                <a data-open="ModalPortraitFinn">
                    <img class="BandPortrait" src="assets/img/Portraits/Finn_L.jpg" alt="Finn Engels Portrait" />
                </a>
                
    
            </div>
            <div class="small-12 show-for-small-only columns">
                <img class="BandPortrait" src="assets/img/Portraits/Finn.jpg" alt="Finn Engels Portrait" />
            </div>
        </div>
    </div>