<div class="row">
        <div class="small-12 columns">
            <!--  IMAGE LARGE  -->
            <div class="large-12 hide-for-small-only columns BandPortraitBox">
                    <div class=" BandMemberDiscriptionFinn">
                            <p class="BandFirstName">Finn</p>
                            <p class="BandLastName">Engels</p>
                            <p class="BandText">Bass | Voices</p>
                    </div>
                <a data-open="ModalPortraitFinn">
                    <img class="BandPortrait" src="assets/img/Portraits/Finn_L.jpg" alt="Finn Engels Portrait" />
                </a>
            </div>
            <!--  IMAGE SMALL  -->
        <div class="small-12 show-for-small-only columns BandPortraitBox">
                <div class=" BandMemberDiscriptionPatrick">
                    <p class="BandFirstName">Finn Engels</p>
                    <p class="BandText">Bass | Voices</p>
                </div>
                <img class="BandPortrait" src="assets/img/Portraits/Finn_S.jpg" alt="Patrick Pereira Portrait" />
            </div>
        </div>
        <div class="small-12 columns">
            <p style="text-align: center;">©2017 Fotos by Pauline Djabbarpour</p>
        </div>
    </div>