<div class="row">
    <div class="small-12 columns">
        <!--  NAME  -->
        <div class="small-12 medium-6 columns">
            <p class="BandFirstName">Finn</p>
            <p class="BandLastName">Engels</p>
            <p class="BandText">Bass | Voices </p>
        </div>
        <!--  IMAGE  -->
        <div class="small-12 medium-6 hide-for-small-only columns">
            <a data-open="ModalPortraitFinn">
                <img class="BandPortrait" src="assets/img/Portraits/Finn.jpg" alt="Finn Engels Portrait" />
            </a>
        </div>
        <div class="small-12 medium-6 show-for-small-only columns">
            <img class="BandPortrait" src="assets/img/Portraits/Finn.jpg" alt="Finn Engels Portrait" />
        </div>
    </div>
</div>