<div class="row">
        <div class="small-12 columns">
            <!--  NAME ON SMALL  -->
            <div class="small-12 show-for-small-only columns">
                <p class="BandFirstName">Lukas</p>
                <p class="BandLastName">Tennie</p>
                <p class="BandText">Drums</p>
            </div>
            <!--  IMAGE  -->
            <div class="large-12 hide-for-small-only columns BandPortraitBox">
                    <div class=" BandMemberDiscriptionLukas">
                            <p class="BandFirstName">Lukas</p>
                            <p class="BandLastName">Tennie</p>
                            <p class="BandText">Drums</p>
                    </div>
                <a data-open="ModalPortraitLukas">
                    <img class="BandPortrait" src="assets/img/Portraits/Lukas_L.jpg" alt="Lukas Tennie Portrait" />
                </a>
                
    
            </div>
            <div class="small-12 show-for-small-only columns">
                <img class="BandPortrait" src="assets/img/Portraits/Lukas.jpg" alt="Lukas Tennie Portrait" />
            </div>
        </div>
    </div>