<div class="row">
    <div class="small-12 columns">
        <!--  NAME ON SMALL -->
        <div class="small-12 show-for-small-only columns">
            <p class="BandFirstName">Lukas</p>
            <p class="BandLastName">Tennie</p>
            <p class="BandText">Drums</p>
        </div>
        <!--  IMAGE  -->
        <div class="small-12 medium-6 hide-for-small-only columns">
            <a data-open="ModalPortraitLukas">
                <img class="BandPortrait" src="assets/img/Portraits/Lukas.jpg" alt="Lukas Tennie Portrait" />
            </a>
        </div>
        <div class="small-12 medium-6 show-for-small-only columns">
            <img class="BandPortrait" src="assets/img/Portraits/Lukas.jpg" alt="Lukas Tennie Portrait" />
        </div>
        <!--  NAME ON LARGE -->
        <div class="hide-for-small-only medium-6 columns">
            <p class="BandFirstName">Lukas</p>
            <p class="BandLastName">Tennie</p>
            <p class="BandText">Drums</p>
        </div>
    </div>
</div>