<div class="row">
    <div class="small-12 columns">
        <!--  NAME ON SMALL  -->
        <div class="small-12 show-for-small-only columns">
            <p class="BandFirstName">Patrick</p>
            <p class="BandLastName">Pereira</p>
            <p class="BandText">Voices | Guitars | Synth | Programming</p>
        </div>
        <!--  IMAGE  -->
        <div class="medium-6 hide-for-small-only columns">
            <a data-open="ModalPortraitPatrick">
                <img class="BandPortrait" src="assets/img/Portraits/Patrick.jpg" alt="Patrick Pereira Portrait" />
            </a>
        </div>
        <div class="small-12 show-for-small-only columns">
            <img class="BandPortrait" src="assets/img/Portraits/Patrick.jpg" alt="Patrick Pereira Portrait" />
        </div>
        <!--  NAME ON LARGE  -->
        <div class="hide-for-small-only medium-6 columns">
            <p class="BandFirstName">Patrick</p>
            <p class="BandLastName">Pereira</p>
            <p class="BandText">Voices | Guitars | Synth | Programming</p>
        </div>
    </div>
</div>