<div class="row">
    <div class="small-12 columns">
        <!--  NAME  -->
        <div class="small-12 medium-6 columns">
            <p class="BandFirstName">Philip</p>
            <p class="BandLastName">Redecker</p>
            <p class="BandText">Guitars | Voices | Synth</p>
        </div>
        <!--  IMAGE  -->
        <div class="small-12 medium-6 hide-for-small-only columns">
            <a data-open="ModalPortraitPhilip">
                <img class="BandPortrait" src="assets/img/Portraits/Philip.jpg" alt="Philip Redecker Portrait" />
            </a>
        </div>
        <div class="small-12 medium-6 show-for-small-only columns">
            <img class="BandPortrait" src="assets/img/Portraits/Philip.jpg" alt="Philip Redecker Portrait" />
        </div>

    </div>
</div>