<!-- VIDEO NEWS -->
<div class="row ContentHeadlineBox">
    <div class="columns small-12 small-centered ContentHeadline ">
        <p style="text-align: center; text-transform: uppercase;">December 27, 2017</p>
    </div>
    <div class="columns small-12 small-centered ContentHeadline ">
        <h3>Upcomming Gig</h3>
    </div>
</div>

<div class="Line row"></div>
<div class="row ContentBox">

    <div class="small-10 small-centered medium-6 medium-centered columns">
        <a href="https://www.facebook.com/events/139248130109827/" target="_blank"><img class="NewsPic" src="{{root}}/assets/img/News/2017/AlterNative.jpg" alt="AlterNative Rock Night Poster"/></a>
    </div>
    
    <div class="small-10 small-centered medium-8 medium-centered columns">
        <p style="text-align: center; text-transform: uppercase;">We're playing another gig on January 12th 2018! at "Jugendzentrum Funzel" in Krefeld.<br /><br />More information on our "<a href="live.html">live</a>" page. </p>
    </div>
    
</div>

<div class="row ContentHeadlineBox">
    <div class="columns small-12 small-centered ContentHeadline ">
        <p style="text-align: center; text-transform: uppercase;">October 12, 2017</p>
    </div>
    <div class="columns small-12 small-centered ContentHeadline ">
        <h3>New Gigs announced</h3>
    </div>
</div>

<div class="Line row"></div>
<div class="row ContentBox">

    <div class="small-10 small-centered medium-6 medium-centered columns">
        <a href="https://www.facebook.com/events/1943430229244415/" target="_blank"><img class="NewsPic" src="{{root}}/assets/img/News/2017/Treatment14.jpg" alt="Treatment for all 14 Poster"/></a>
    </div>
    
    <div class="small-10 small-centered medium-8 medium-centered columns">
        <p style="text-align: center; text-transform: uppercase;">We're happy to announce two new gigs in december 2017 and January 2018!<br /><br />More information on our "<a href="live.html">live</a>" page. </p>
    </div>
    
</div>