<div class="row">
        <div class="small-12 columns">
            <!--  IMAGE LARGE  -->
            <div class="large-12 hide-for-small-only columns BandPortraitBox">
                    <div class=" BandMemberDiscriptionFinn">
                            <p class="BandFirstName">Finn</p>
                            <p class="BandLastName">Engels</p>
                            <p class="BandText">Bass</p>
                    </div>
                <a data-open="ModalPortraitFinn">
                    <img class="BandPortrait" src="{{root}}assets/img/Portraits/Finn_L.jpg" alt="Finn Engels Portrait L" />
                </a>
            </div>
            <!--  IMAGE SMALL  -->
        <div class="small-12 show-for-small-only columns BandPortraitBox">
                <div class=" BandMemberDiscriptionPatrick">
                    <p class="BandFirstName">Finn Engels</p>
                    <p class="BandText">Bass</p>
                </div>
                <img class="BandPortrait" src="{{root}}assets/img/Portraits/Finn_S.jpg" alt="Finn Engels Portrait S" />
            </div>
        </div>
</div>
<div class="row">
    <div class="small-6 small-centered columns copyright">
        <p>©2017 Photos by Pauline Djabbarpour</p>
    </div>
</div>