<div class="row">
        <div class="small-12 columns">
            <!--  IMAGE LARGE  -->
            <div class="large-12 hide-for-small-only columns BandPortraitBox">
                    <div class=" BandMemberDiscriptionLukas">
                        <p class="BandFirstName">Lukas</p>
                        <p class="BandLastName">Tennie</p>
                        <p class="BandText">Drums</p>
                    </div>
                <a data-open="ModalPortraitLukas">
                    <img class="BandPortrait" src="{{root}}/assets/img/Portraits/Lukas_L.jpg" alt="Lukas Tennie Portrait L" />
                </a>
            </div>
            <!--  IMAGE SMALL  -->
            <div class="small-12 show-for-small-only columns BandPortraitBox">
                <div class=" BandMemberDiscriptionPatrick">
                    <p class="BandFirstName">Lukas Tennie</p>
                    <p class="BandText">Drums</p>
                </div>
                <img class="BandPortrait" src="{{root}}/assets/img/Portraits/Lukas_S.jpg" alt="Lukas Tennie Portrait S" />
            </div>
        </div>
    </div>