<div class="row">
    <div class="small-12 columns">
        <!--  IMAGE LARGE  -->
        <div class="large-12 hide-for-small-only columns BandPortraitBox">
                <div class=" BandMemberDiscriptionPatrick">
                    <p class="BandFirstName">Patrick</p>
                    <p class="BandLastName">Pereira</p>
                    <p class="BandText">Vocals | Guitar | Synth | Programming</p>
                </div>
            <a data-open="ModalPortraitPatrick">
                <img class="BandPortrait" src="{{root}}assets/img/Portraits/Patrick_L.jpg" alt="Patrick Pereira Portrait L" />
            </a>
        </div>
        <!--  IMAGE SMALL  -->
        <div class="small-12 show-for-small-only columns BandPortraitBox">
            <div class=" BandMemberDiscriptionPatrick">
                <p class="BandFirstName">Patrick Pereira</p>
                <p class="BandText">Vocals | Guitar | Synth | Programming</p>
            </div>
            <img class="BandPortrait" src="{{root}}assets/img/Portraits/Patrick_S.jpg" alt="Patrick Pereira Portrait S" />
        </div>
    </div>
</div>