<div class="row">
        <div class="small-12 columns">
            <!--  IMAGE LARGE  -->
            <div class="large-12 hide-for-small-only columns BandPortraitBox">
                    <div class=" BandMemberDiscriptionPhilip">
                            <p class="BandFirstName">Philip</p>
                            <p class="BandLastName">Redecker</p>
                            <p class="BandText">Guitars | Voices | Synth</p>
                    </div>
                <a data-open="ModalPortraitPhilip">
                    <img class="BandPortrait" src="assets/img/Portraits/Philip_L.jpg" alt="Philip Redecker Portrait" />
                </a>
            </div>
            <!--  IMAGE SMALL  -->
            <div class="small-12 show-for-small-only columns BandPortraitBox">
                <div class=" BandMemberDiscriptionPatrick">
                    <p class="BandFirstName">Philip Redecker</p>
                    <p class="BandText">Guitars | Voices | Synth</p>
                </div>
                <img class="BandPortrait" src="assets/img/Portraits/Philip_S.jpg" alt="Patrick Pereira Portrait" />
            </div>
        </div>
    </div>