<!-- VIDEO NEWS -->
<div class="row ContentHeadlineBox">
    <div class="columns small-12 small-centered ContentHeadline ">
        <h3>Earth II EP</h3>
    </div>
</div>

<div class="Line row"></div>
<div class="row ContentBox">
    <div class="small-12 medium-6 columns">
        <img src="{{root}}/assets/img/Disco/CloudColony_Earth-II-EP.png" />
    </div>

    <div class="small-10 small-offset-1 medium-6 medium-offset-0 columns">
        <p>In 2013 we released our first record "Earth II". It's an concept EP which topic is influenced by the wonderful movie "another earth".<br><br>
        The EP contains seven Songs with a full length of about 40 minutes.<br><br>
        TRACKLIST:<br>
        1. <span style="margin-left: 3%;"> Win a flight to earth</span><br>
        11. <span style="margin-left: 3%;"> Win a flight to earth</span><br></p>
    </div>
</div>