<!-- VIDEO NEWS -->
<div class="row ContentHeadlineBox">
    <div class="columns small-12 small-centered ContentHeadline ">
        <h3>Earth II EP</h3>
    </div>
</div>

<div class="Line row"></div>
<div class="row ContentBox">
    <div class="small-12 medium-6 columns">
        <img src="{{root}}/assets/img/Disco/CloudColony_Earth-II-EP.png" alt="Cloud Colony's Earth II EP"/>
    </div>

    <div class="small-10 small-offset-1 medium-6 medium-offset-0 columns">
        <p>
            In 2013 we released our first record "Earth II". It's an concept EP which topic is influenced by the wonderful movie "another earth".<br><br>
            The EP contains seven Songs with a full length of about 40 minutes.<br><br>
            TRACKLIST:<br>
            01.<span style="margin-left: 3%;"> Win a Flight to Earth II</span><br>
            02.<span style="margin-left: 3%;"> Our Garden</span><br>
            03.<span style="margin-left: 3%;"> Psychological Facet</span><br>
            04.<span style="margin-left: 3%;"> Chance</span><br>
            05.<span style="margin-left: 3%;"> Turbine</span><br>
            06.<span style="margin-left: 3%;"> Clouds</span><br>
            07.<span style="margin-left: 3%;"> Won</span><br>
            <br><br>
            All Tracks are written, performed and recorded by Cloud Colony.
        </p>
    </div>

    <div class="small-10 small-offset-1 end columns">
        <br>
        <p>If you live in Germany (for shipping reaseons), you can order a CD for 8,- € (includes shipping costs) by simply writing a Mail to <a href="mailto:info@cloudcolony.de? Subject=Earth II CD Bestellung&Body=...Ich nöchte folgende Anzahl an Earth-II-EP CD(s) bestellen:  Die Versandadresse ist folgende:">info@cloudcolony.de</a></p>
    </div>
</div>