<div class="reveal" id="ModalKulturrampe2014" data-reveal>
    <h3>Kulturrampe Krefeld</h3>
    <h4>2014 March 14</h4>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="GigGal">
        <div><img src="assets/img/Gals/Kulturrampe-2014/01.jpg" alt="Cloud COlony live at Kulturrampe in 2017, image 01" /></div>
        <div><img src="assets/img/Gals/Kulturrampe-2014/02.jpg" alt="Cloud COlony live at Kulturrampe in 2017, image 02" /></div>
        <div><img src="assets/img/Gals/Kulturrampe-2014/03.jpg" alt="Cloud COlony live at Kulturrampe in 2017, image 03" /></div>
        <div><img src="assets/img/Gals/Kulturrampe-2014/04.jpg" alt="Cloud COlony live at Kulturrampe in 2017, image 04" /></div>
        <div><img src="assets/img/Gals/Kulturrampe-2014/05.jpg" alt="Cloud COlony live at Kulturrampe in 2017, image 05" /></div>
        <div><img src="assets/img/Gals/Kulturrampe-2014/06.jpg" alt="Cloud COlony live at Kulturrampe in 2017, image 06" /></div>
        <div><img src="assets/img/Gals/Kulturrampe-2014/07.jpg" alt="Cloud COlony live at Kulturrampe in 2017, image 07" /></div>
        <div><img src="assets/img/Gals/Kulturrampe-2014/08.jpg" alt="Cloud COlony live at Kulturrampe in 2017, image 08" /></div>
        <div><img src="assets/img/Gals/Kulturrampe-2014/09.jpg" alt="Cloud COlony live at Kulturrampe in 2017, image 09" /></div>
        <div><img src="assets/img/Gals/Kulturrampe-2014/10.jpg" alt="Cloud COlony live at Kulturrampe in 2017, image 10" /></div>
    </div>
    <div class="row">
        <div class="small-6 small-centered columns">
            <p style="text-align: center;">©2014 Fotos by Kai Pilz</p>
        </div>

    </div>
</div>
</div>